.main {
    // background-image: url('../../../../assets/6.jpg');
    .main-weather-list {
       margin: 0 1%;
       width: 76%;

    .weather-list-item {
        outline: unset;
        display: inline-table;
        padding: 24px;
        margin: 27px auto;
        max-width: 260px;
    }
    } 
}
