<ng-template #weatherDetails 
  let-SelectedIndexDayWeather="_selectedIndexDayWeather"
  let-SelectedDayWeather="_selectedDayWeather">


  <div class="background">
    <div>
      <br>
      <h1 class="city-country-name">{{SelectedDayWeather.city.name}},{{SelectedDayWeather.city.country}}</h1>
      <span class="date">{{ SelectedIndexDayWeather.dt * 1000 | date: 'fullDate'}}</span><br>
      <hr class="top-hr">
    </div>

    <div class="disc">
      <img class="wt-icon" [src]="SelectedIndexDayWeather.weather[0].icon">
    </div>

    <div class="optional">
      <span class="sea-level">
        Sea Levev:<span class="dinamic-info"> {{SelectedIndexDayWeather.main.sea_level | convert:'m-to-km' }}</span>
      </span>
      <hr>
      <span class="pressure">Pressure: <span class="dinamic-info">{{SelectedIndexDayWeather.main.pressure }}</span>p</span>
      <hr>

      <span class="temp-max">
        T&nbsp; 
        Max: <span class="dinamic-info">{{SelectedIndexDayWeather.main.temp_max | scale:'celcius'}}</span>,&nbsp; 
        Min: <span class="dinamic-info">{{SelectedIndexDayWeather.main.temp_min| scale:'celcius'}}</span> </span>
      <hr>
      <span class="temp-min">
        H&nbsp; Hum: 
        Max:  <span class="dinamic-info">{{SelectedDayWeather.dayMaxAndMinHum[currentDayNum].dayMax }}%</span>,&nbsp;
        Min: <span class="dinamic-info">{{SelectedDayWeather.dayMaxAndMinHum[currentDayNum].dayMin }}%</span>
      </span>

      <hr>
    </div>
    <span class="temperature">{{ SelectedIndexDayWeather.main.temp | scale:'celcius'}}</span>

    <div class="form-fields">
      <mat-form-field>
        <mat-label>Select Time</mat-label>
        <mat-select name="food">

          <mat-option *ngFor="let times of SelectedDayWeather.list; index as ind"
            [value]="SelectedDayWeather.list[selectedIndex]" (click)="select(ind)">
            {{ times.dt_txt | dateAM }}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="back"
      [routerLink]="['../../', {selectedItem: false}]">Back</button>
    <span class="hh">At- {{SelectedIndexDayWeather.dt * 1000 | date: 'hh'}}</span>
  </div>

</ng-template>



<!-- Currrent Context -->
<ng-container *ngTemplateOutlet="weatherDetails; context: {
          _selectedIndexDayWeather: selectedDayWeather.list[selectedIndex],
          _selectedDayWeather: selectedDayWeather
        }">
</ng-container>